/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@layer base {
  body {
    /* Dark Theme Baseline */
    @apply bg-zinc-950 text-zinc-100 antialiased selection:bg-indigo-500/30;
  }
}

@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
